<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <div class="navigation">
      <a href = "/">Return to Main Page</a>
    </div>

  </body>
</html>
